<li>
  <a href="{{linkToProduct id}}">
    <div class="thumbnail">{{id}}</div>
    <h5>{{name}}</h5>
    <div class="description">{{description}}</div>
    <div class="price">{{price}}</div>
  </a>
</li>